<%= @list.name %>
<%= button_to "Delete list", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
<%= button_to 'Add word', new_list_word_path(@list), method: :get %>
<% if @list.words.exists? %>
  <ul>
    <% @list.words.each do |word| %>
        <li><%= word.name %>: <%= word.definition %>
          <%= button_to 'Remove word', list_word_path(word.list_id, word.id),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "edit-delete" %></li>
    <% end %>
  </ul>
<% end %>
